@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 1.24;
  color: #1d1c1d;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 24px;
  color: #ffffff;
}

.header__container {
  max-width: 1352px;
  padding: 12px 46px;
  background-color: rgba(108, 185, 171, 0.7);
  backdrop-filter: blur(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__menu-link.active {
  color: #64099b;
}

.header__cart-link {
  width: 28px;
  height: 28px;
  padding: 10px 4px 3px;
  font-size: 12px;
  text-align: center;
  color: #64099b;
  background-image: url(/image/bag.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.promo {
  background-color: #6cb9ab;
  color: #ffffff;
}

.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url(/image/banner.png);
  background-position: right 113px bottom 0px;
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 800px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 88px;
  line-height: 1.1;
  font-weight: 400;
}

.promo__link {
  display: inline-block;
  padding: 16px 24px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.products {
  padding: 100px 0;
}

.products__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 400;
  color: #64099b;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 600px;
  color: #1d1c1d;
  background-color: #f2f9f7;
}

.product__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 24px 24px;
}

.product__title {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__price {
  margin: 0;
  font-size: 20px;
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background-color: #6cb9ab;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 38px;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  gap: 50px;
}

.footer__info {
  font-size: 16px;
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 17px;
}

.footer__description {
  margin-top: 0;
  margin-bottom: 3px;
}

.footer__developer {
  margin-bottom: 3px;
}

.footer__developer:last-child {
  margin-bottom: 0;
}

.footer__email {
  margin-bottom: 16px;
}

.footer__social {
  display: flex;
  gap: 12px;
}

.cart {
  padding: 215px 0 50px;
}
.cart__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px 20px;
  align-items: start;
}
.cart__title {
  margin: 0;
  grid-column: 1 / -1;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.1;
  color: #64099b;
}
.cart__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.cart__summary {
  display: grid;
  grid-template-areas:
    'title button'
    'total button';
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #f2f9f7;
  color: #1d1c1d;
}
.cart__summary-title {
  grid-area: title;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #1d1c1d;
}
.cart__total {
  grid-area: total;
  margin: 0;
  font-size: 20px;
}
.cart__order-button {
  grid-area: button;
  padding: 16px 24px;
  color: #64099b;
  background-color: transparent;
  border: 1px solid #64099b;
  border-radius: 4px;
  cursor: pointer;
}

.cart__item {
  background-color: #f2f9f7;
}
.cart-item__image {
  width: 100%;
}
.cart-item__info {
  padding: 16px;
}
.cart-item__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-item__quantity {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 20px;
}
.cart-item__quantity-button {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.cart-item__quantity-button_minus {
  background-image: url(/image/minus.svg);
}
.cart-item__quantity-button_plus {
  background-image: url(/image/plus.svg);
}
.cart-item__quantity-input {
  width: 26px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
}
.cart-item__price {
  margin: 0;
  font-size: 20px;
}
.cart-item__total {
  font-size: 20px;
}

.order {
  padding: 50px 0 100px;
}
.order__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.1;
  color: #64099b;
}
.order__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 640px;
}
.order__input {
  padding: 16px;
  font-size: 16px;
  background-color: #f2f9f7;
  border-radius: 4px;
  border: none;
}
.order__input::placeholder {
  color: #b8b8b8;
}
.order__input_address {
  grid-column: 1 / -1;
}
.order__payment {
  margin: 0;
  padding: 12px 0 0;
  border: none;
}
.order__payment-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
}
.order__payment-label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  user-select: none;
}
.order__payment-label:last-child {
  margin-bottom: 0;
}
.order__payment-radio {
  margin-right: 8px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 42px;
  }

  .header {
    top: 20px;
    padding: 0 20px;
  }

  .header__container {
    padding: 12px 22px;
  }

  .promo__container {
    padding-top: 172px;
    padding-bottom: 60px;
    background-image: url(/image/banner-1024.png);
    background-position: right 48px bottom 0px;
  }

  .promo__title {
    max-width: 620px;
    margin-bottom: 40px;
    font-size: 70px;
  }

  .product {
    min-height: 450px;
  }

  .footer__menu {
    gap: 32px;
  }

  .cart {
    padding: 170px 0 50px;
  }

  .cart__container {
    grid-template-columns: 1fr 300px;
  }

  .cart__items {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .cart-item__title {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .order__form {
    max-width: 620px;
  }
}

@media (max-width: 940px) {
  .header__logo {
    width: 78px;
  }

  .header__menu {
    gap: 24px;
  }

  .header__menu_link {
    font-size: 16px;
  }

  .promo__container {
    padding-top: 157px;
    background-position: right bottom;
    background-size: 203px;
  }

  .promo__title {
    min-width: 460px;
    font-size: 54px;
  }

  .promo__link {
    padding: 12px 18px;
    font-size: 16px;
  }

  .products {
    padding: 80px 0;
  }

  .products__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
  }

  .product {
    min-height: 360px;
  }

  .product__title {
    font-size: 20px;
  }
  .product__price {
    font-size: 16px;
  }

  .footer {
    padding: 40px 0;
  }
  .footer__info {
    font-size: 12px;
  }

  .footer__menu {
    gap: 24px;
  }

  .footer__menu-link {
    font-size: 16px;
  }

  .footer__email {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .cart {
    padding: 139px 0 30px;
  }

  .cart__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .cart__title {
    order: 2;
    margin-bottom: 24px;
    font-size: 36px;
  }

  .cart__items {
    order: 3;
    grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
  }

  .cart-item__title {
    display: block;
    font-size: 16px;
    white-space: nowrap;
  }

  .cart-item__quantity {
    gap: 0;
  }

  .cart-item__quantity-button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .cart-item__quantity-input {
    font-size: 16px;
  }

  .cart-item__price {
    margin: 0;
    font-size: 16px;
  }

  .cart__summary {
    order: 1;
    grid-template-areas: 'title total button';
    grid-template-columns: min-content 1fr min-content;
    gap: 6px;
    margin-bottom: 40px;
  }

  .cart__summary-title {
    font-size: 16px;
  }

  .cart__total {
    font-size: 16px;
  }

  .cart__order-button {
    padding: 12px 18px;
    font-size: 16px;
  }

  .order {
    padding: 30px 0 80px;
  }

  .order__title {
    font-size: 36px;
  }

  .order__form {
    gap: 16px;
    max-width: none;
  }

  .order__input {
    padding: 12px 16px;
  }

  .order__payment {
    padding-top: 8px;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 0 16px;
  }

  .header {
    top: 0;
    padding: 0;
  }

  .header__container {
    padding: 8px 16px;
    gap: 16px;
  }

  .header__nav {
    display: none;
  }

  .promo__container {
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 250px;
    background-size: 145px;
    background-position: center bottom;
  }

  .promo__title {
    font-size: 40px;
    min-width: 350px;
    margin-bottom: 24px;
  }

  .promo__button {
    padding: 12px 18px;
    font-size: 16px;
  }

  .products {
    font-size: 36px;
  }

  .products__title {
    font-size: 36px;
  }

  .products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .product__image {
    min-height: 226px;
    object-fit: cover;
  }

  .product__content {
    padding: 32px 8px 8px;
  }

  .product__title {
    font-size: 16px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer__menu {
    flex-direction: column;
    gap: 16px;
  }

  .footer__info {
    order: 1;
  }

  .footer__copyright {
    margin-top: 0;
    margin-bottom: 17px;
  }

  .footer__description {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .footer__developer {
    margin-bottom: 3px;
  }

  .footer__developer:last-child {
    margin-bottom: 0;
  }
  .footer__menu-link {
    font-size: 18px;
  }

  .footer__email {
    margin-bottom: 16px;
  }

  .footer__social {
    display: flex;
    gap: 12px;
  }

  .cart {
    padding: 100px 0 30px;
  }

  .cart__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
  }

  .cart__title {
    font-size: 36px;
  }

  .cart__list {
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 8px;
  }

  .cart-item__info {
    padding: 16px 8px;
  }

  .cart-item__quantity {
    margin-bottom: 12px;
  }

  .cart__summary {
    grid-column: 1 / -1;
    grid-template-areas:
      'title button'
      'total button';
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .cart__summary-title {
    font-size: 16px;
  }

  .cart__total {
    font-size: 16px;
  }

  .cart__order-button {
    justify-self: end;
  }

  .order {
    padding: 30px 0 60px;
  }

  .order__title {
    font-size: 36px;
  }

  .order__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 640px;
  }

  .order__input {
    padding: 17px 16px;
    border-radius: 4px;
    border: none;
  }

  .order__input::placeholder {
    font-size: 16px;
    color: #b8b8b8;
  }

  .order__payment {
    padding-top: 12px;
  }

  .order__payment-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
  }

  .order__payment-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
  }
}
