@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 1.24;
  color: #1d1c1d;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 24px;
  color: #ffffff;
}

.header__container {
  max-width: 1352px;
  padding: 12px 46px;
  background-color: rgba(108, 185, 171, 0.7);
  backdrop-filter: blur(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__cart-link {
  width: 28px;
  height: 28px;
  padding: 10px 4px 3px;
  font-size: 12px;
  text-align: center;
  color: #64099b;
  background-image: url(/image/bag.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.promo {
  background-color: #6cb9ab;
  color: #ffffff;
}

.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url(/image/banner.png);
  background-position: right 113px bottom 0px;
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 800px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 88px;
  line-height: 1.1;
  font-weight: 400;
}

.promo__link {
  display: inline-block;
  padding: 16px 24px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.products {
  padding: 100px 0;
}

.products__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 400;
  color: #64099b;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 600px;
  color: #1d1c1d;
  background-color: #f2f9f7;
}

.product__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 24px 24px;
}

.product__title {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__price {
  margin: 0;
  font-size: 20px;
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background-color: #6cb9ab;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 38px;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  gap: 50px;
}

.footer__info {
  font-size: 16px;
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 17px;
}

.footer__description {
  margin-top: 0;
  margin-bottom: 3px;
}

.footer__developer {
  margin-bottom: 3px;
}

.footer__developer:last-child {
  margin-bottom: 0;
}

.footer__email {
  margin-bottom: 16px;
}

.footer__social {
  display: flex;
  gap: 12px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 42px;
  }

  .header {
    top: 20px;
    padding: 0 20px;
  }

  .header__container {
    padding: 12px 22px;
  }

  .promo__container {
    padding-top: 172px;
    padding-bottom: 60px;
    background-image: url(/image/banner-1024.png);
    background-position: right 48px bottom 0px;
  }

  .promo__title {
    max-width: 620px;
    margin-bottom: 40px;
    font-size: 70px;
  }

  .product {
    min-height: 450px;
  }

  .footer__menu {
    gap: 32px;
  }
}

@media (max-width: 940px) {
  .header__logo {
    width: 78px;
  }

  .header__menu {
    gap: 24px;
  }

  .header__menu_link {
    font-size: 16px;
  }

  .promo__container {
    padding-top: 157px;
    background-position: right bottom;
    background-size: 203px;
  }

  .promo__title {
    min-width: 460px;
    font-size: 54px;
  }

  .promo__link {
    padding: 12px 18px;
    font-size: 16px;
  }

  .products {
    padding: 80px 0;
  }

  .products__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
  }

  .product {
    min-height: 360px;
  }

  .product__title {
    font-size: 20px;
  }
  .product__price {
    font-size: 16px;
  }

  .footer {
    padding: 40px 0;
  }
  .footer__info {
    font-size: 12px;
  }

  .footer__menu {
    gap: 24px;
  }

  .footer__menu-link {
    font-size: 16px;
  }

  .footer__email {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
